<div class="supporting">
  <div class="application-steps-heading collapse-control">
    <strong>How to apply: </strong>{{ content_block.heading }}
    <span class="collapse-arrow">&#9662;</span>
  </div>
  <div class="application-steps-container collapsible">
    {% for step in content_block.steps %}
      <div class="application-step">
        {% if not loop.last %}
          <div class="application-step-heading">Step {{ loop.index }}: {{ step.heading }}</div>
        {% else %}
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 16" class="application-step-tick">
            <path d="M 0 10 L 1.5 8.5 L 6 13 L 18 0 L 19.5 1.5 L 6 16 Z"/>
          </svg>
        {% endif %}
        {{ step.application_step | markdown }}
      </div>
    {% endfor %}
  </div>
</div>
