<script>
    $(function () {
        var loading = false;
        var loadMoreResultsCounter = 1;

        $('.activity-filter-options a').click(function(e) {
            e.preventDefault();

            if (!loading) {
                loading = true;
                var href = this.href;

                $.get(href, { ajax: true }, function(data) {
                    $('.single-grant-latest-activity').html(data);
                    loading = false;
                    loadMoreResultsCounter = 1;
                });
            }

            return false;
        });

        $('.load-more-button').click(function (e) {
            e.preventDefault();

            if (!loading) {
                loading = true;
                $.get(window.location.href, { ajax: true, load_more_activities: loadMoreResultsCounter }, function(data) {
                    $('.single-grant-latest-activity').html(data);
                    loading = false;
                    loadMoreResultsCounter++;
                });
            }

            return false;
        });
    });
</script>

<div class="activity-cards-container">
    {% embed 'flexible-content/links_to_other_posts.html' %}
        {% block after_heading %}
            <div class="activity-types-filter">
                <span class="show-me">Show me:</span>
                <ul class="activity-filter-options">
                    {% include 'nav/link-item-text.html' with {'link': {
                        'title': 'All',
                        'target': '?type=',
                        'active': content_block.selected_activity_type == null
                    }} %}
                    {% for type in content_block.activity_types %}
                        {% set type_url = '?type=' ~ type.query_string %}
                        {% include 'nav/link-item-text.html' with {'link': {
                            'title': type.display_string,
                            'target': type_url,
                            'active': content_block.selected_activity_type == type.query_string
                        }} %}
                    {% endfor %}
                </ul>
            </div>
        {% endblock %}
    {% endembed %}

    {% if content_block.links is empty %}
        <h3 class="row-title">{{ content_block.heading }}</h3>
            <div class="activity-types-filter">
                <span class="show-me">Show me:</span>
                <ul class="activity-filter-options">
                    {% include 'nav/link-item-text.html' with {'link': {
                        'title': 'All',
                        'target': '?type=',
                        'active': content_block.selected_activity_type == null
                    }} %}
                    {% for type in content_block.activity_types %}
                        {% set type_url = '?type=' ~ type.query_string %}
                        {% include 'nav/link-item-text.html' with {'link': {
                            'title': type.display_string,
                            'target': type_url,
                            'active': content_block.selected_activity_type == type.query_string
                        }} %}
                    {% endfor %}
                </ul>
            </div>
        <p> No results </p>
    {% endif %}
</div>
{% if content_block.load_more_url %}
    {% include 'flexible-content/link_button.html' with { content_block: { link: { url: content_block.load_more_url, extra_class: 'load-more-button' }, button_text: 'Load More', centred: true } } %}
{% endif %}
