{{ include('layout/header.html') }}

<h1>{{ title }}</h1>
{% include 'page-elements/in-page-links.html' with {'clean_if_no_links': true} %}

{% include 'flexible_content.twig' with { 'flexible_content': fields.flexible_content.value } %}

<div class="grant-filters">
  <form action="" method="get">
    <span>Show me</span>
    <select name="filter">
      <option value="" {% if filter_string is empty %} selected {% endif %}>All</option>
      <option value="current" {% if filter_string == "current" %} selected {% endif %}>All open grants</option>
      {% for grant_type in grant_types %}
        <option
            value="{{ grant_type.post_name }}" {% if filter_string == grant_type.post_name %} selected {% endif %} >{{ grant_type.post_title }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Apply"/>
  </form>
</div>

<script>
    function updateFilter() {
        var url = '/grants/';
        var filter = $(".grant-filters select[name='filter']").val();
        if (filter) {
            url += '?filter=' + filter
        }
        document.location = url;
    }

    $(function () {
        $(".grant-filters input[type='submit']").hide();
        $(".grant-filters select").on("change", updateFilter);
    });
</script>

{% embed 'layout/supporting-content.html' with {'tight': true} %}
  {% block content %}

    {% include 'flexible_content.twig' with { 'flexible_content': fields.supporting_content.value } %}

    {% include 'page-elements/list-query-result.html' %}
    {% include 'page-elements/pagination-links.html' with {'ajax': true} %}

  {% endblock %}
{% endembed %}

{{ include('layout/footer.html') }}
