.single-country-page {
  .subscribe-for-updates {
    button, .button {

      display: inline-block;
      font-size: 0.8em;
      line-height: 1.2em;
      padding: 0.5em 4em 0.8em 1.2em;
      position: relative;
      height: auto;
      white-space: normal;
      text-align: left;

      svg {
        width: 1.5em;
        height: 1.5em;
        fill: #fff;
        position: absolute;
        right: 1em;
        top: 0.5em;
      }
    }
  }

  .country-map-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: $map-height;

    .country-map {
      width: 60%;
      flex-grow: 1;
    }

    .institutions {
      width: 40%;
      padding: 20px;
      height: 100%;
      overflow-y: auto;
      box-sizing: border-box;
      flex-grow: 1;

      ul {
        list-style: none;
        padding: 0;

        .institution {
          color: white;

          .index {
            font-weight: bold;
          }
        }
      }
    }
  }

  .institutions-light-mode {
    ul {
      width: 100%;
      padding-left: 30px;
      margin-bottom: 0;
      columns: 2;
    }
  }

  .supporting {
    max-width: initial;
  }

  @media (#{$max-width-tablet}) {
    .subscribe-for-updates {
      text-align: center;
      margin-top: 1em;
    }

    .country-map-container {
      flex-direction: column;
      height: auto;

      .country-map {
        width: 100%;
      }

      .institutions {
        width: 100%;
        max-height: 40vh;
      }
    }

    .institutions-light-mode {
      ul {
        columns: 1;
      }
    }
  }

  @media (#{$min-width-tablet}) {
    aside ~ .supporting {
      max-width: $supporting-max-width;
    }
  }  
}

@each $configName, $colourConfig in $colourConfigs {
  .#{$configName} {
    .single-country-page {
      circle.jvectormap-marker {
        fill: map-get($colourConfig, subtle);
        stroke: white;
      }

      text.jvectormap-marker {
        fill: white;
      }

      .institutions {
        background-color: map-get($colourConfig, intense);
      }
    }
  }
}