.subscribe-for-updates {
  button, .button {

    display: inline-block;
    font-size: 0.8em;
    line-height: 1.2em;
    padding: 0.5em 4em 0.8em 1.2em;
    position: relative;
    height: auto;
    white-space: normal;
    text-align: left;

    svg {
      width: 1.5em;
      height: 1.5em;
      fill: #fff;
      position: absolute;
      right: 1em;
      top: 0.5em;
    }
  }
}

@media (#{$max-width-tablet}) {
  .subscribe-for-updates {
    text-align: center;
    margin-top: 1em;
  }
}