node_modules/
dist/
.wordpress-download-cache/
.credentials/
.temp/
.idea/
.vs/
deployments/
yarn-error.log
# Paid for plugins
dependencies/plugins/

# Terraform
terraform/.terraform
*.tfvars
