{% if card %}
  <div class="card with-image {{card.image_on_right ? 'image-right' : 'image-left'}}">

    <div class="image-container {{card.lock_aspect_ratio ? 'lock-aspect-ratio' : 'stretch'}}">
      <img width={{card.image_width}}
        height={{card.image_height}}
        src="{{ card.image_src }}"
        title="{{ card.image_title | default(card.title) }}" />
      {% if card.link_target %}
        {% include 'cards/common/link-overlay.html' %}
      {% endif %}
    </div>

    {% include 'cards/base.html' %}

  </div>
{% endif %}