packages:
  yum:
    mod_ssl : []

files:
  /opt/certbot/eb-certbot.sh:
    mode: "000500"
    owner: root
    group: root
    content: |
      #!/bin/bash
      set -ex

      DOMAIN="$(/opt/elasticbeanstalk/bin/get-config environment -k DOMAIN)"
      EMAIL="Team-FlemingFundSupport@softwire.com"
      PATH=/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/sbin:/opt/aws/bin:/home/ec2-user/.local/bin:/home/ec2-user/bin

      if [ -z "$DOMAIN" ]; then
          echo "No domain environment variable"
          exit 1
      fi

      mkdir -p /opt/certbot

      wget -r --no-parent -A 'epel-release-*.rpm' https://dl.fedoraproject.org/pub/epel/7/x86_64/Packages/e/

      rpm -Uvh dl.fedoraproject.org/pub/epel/7/x86_64/Packages/e/epel-release-*.rpm || true

      yum-config-manager --enable epel*

      yum install -y certbot python2-certbot-apache

      if [ $1 = "standalone" ]; then
          certbot certonly --debug --non-interactive --email $EMAIL --agree-tos --domain $DOMAIN --keep-until-expiring --standalone 
      else
          certbot certonly --debug --non-interactive --email $EMAIL --agree-tos --domain $DOMAIN --keep-until-expiring --webroot --webroot-path /var/app/current
      fi

      cp /etc/letsencrypt/live/${DOMAIN}/cert.pem /etc/pki/tls/certs/server.crt
      cp /etc/letsencrypt/live/${DOMAIN}/fullchain.pem /etc/pki/tls/certs/fullchain.crt
      cp /etc/letsencrypt/live/${DOMAIN}/privkey.pem /etc/pki/tls/certs/server.key

      apachectl graceful


  /etc/cron.daily/eb-certbot.sh:
    mode: "000500"
    owner: root
    group: root
    content: |
      #!/bin/bash
      /opt/certbot/eb-certbot.sh 2>&1 | tee -a /opt/certbot/certbot-cron.log


commands:
  10_remove_bak:
    command: "rm -f /etc/cron.daily/eb-certbot.sh.bak"


container_commands:
  10_certbot:
    command: "/opt/certbot/eb-certbot.sh standalone 2>&1 | tee -a /opt/certbot/certbot.log"
