<div class="grant-number-boxes">
    {% if number_of_countries is defined %}
    <div class="grant-number-box four columns">
        <div class="number-of-grants">{{ number_of_countries }}</div>
        <div class="grant-type-label">COUNTR{{number_of_countries != 1 ? 'IES' : 'Y'}} INVOLVED</div>
        <a class="button" href="/grants/?type=fellowship">View all</a>
    </div>
    {% endif %}
    {% if number_of_fellows is defined %}
    <div class="grant-number-box four columns">
        <div class="number-of-grants">{{ number_of_fellows }}</div>
        <div class="grant-type-label">TOTAL FELLOW{{number_of_fellows != 1 ? 'S' : ''}}</div>
        <a class="button" href="/grants/?type=fellowship">View all</a>
    </div>
    {% endif %}
    {% if number_of_active_fellowships is defined %}
    <div class="grant-number-box four columns">
        <div class="number-of-grants">{{ number_of_active_fellowships }}</div>
        <div class="grant-type-label">ACTIVE FELLOWSHIP{{number_of_active_fellowships != 1 ? 'S' : ''}}</div>
        <a class="button" href="activity/">View activity</a>
    </div>
    {% endif %}
</div>
