@mixin grant_type_label_style($font-size, $line-height) {
  display: inline-block;
  width: 55%;
  font-size: $font-size;
  line-height: $line-height;
  vertical-align: middle;
}

@mixin number_of_grants_style($font-size) {
  display: inline-block;
  width: 40%;
  font-weight: bold;
  font-size: $font-size;
  text-align: center;
  vertical-align: middle;
  margin: 18px 0;
}

.grant-number-boxes {
  color: white;
  margin-bottom: 10px;

  .grant-number-box {
    background: $mid-turquoise;
    margin-bottom: 30px;

    &.four {
      .number-of-grants {
        @include number_of_grants_style(3em);
      }

      .grant-type-label {
        @include grant_type_label_style(1.5em, 1.2em);
      }
    }

    &.three {
      .number-of-grants {
        @include number_of_grants_style(2.7em);
      }

      .grant-type-label {
        @include grant_type_label_style(1.2em, 1.2em);
      }
    }

    .button {
      display: block;
      background: $light-turquoise;
      text-align: right;
      margin: 0;
      border: none;

      &::after {
        content:">";
        padding-left: 1em;
        font-weight: 900;
      }
    }
  }
}

@media (#{$max-width-tablet}) {
  .grant-number-boxes .grant-number-box .number-of-grants {
    margin-top: 0;
    margin-bottom: 0;
  }
}
